/*
 * highcharts css start
 */

.highcharts-background {
	background-color: #E6F2F2;
}

.highcharts-root {
    font-family: Arial;    
}

.highcharts-title {
    font-size: 15px;
    color: #000000;
}

.highcharts-subtitle {
    font-size: 11px;
    color: #000000;
    width: 750px;
}

.highcharts-credits {
    font-size: 11px;
}

.highcharts-xaxis-labels {
    font-size: 12px;
}

/* xaxis line */
.highcharts-axis-line {
    stroke: #000000;
    stroke-width: 0.3;
}

/* yaxis title */
.highcharts-axis-title {
    font-size: 12px;
    color: #000000;
}

.highcharts-yaxis-grid .highcharts-grid-line {
    stroke: #000000;
    stroke-width: 0.3;
}

.highcharts-legend-item text {
    font-weight: normal;
    font-size: 12px;
    color: #000000;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    position: relative;
    bottom: 0px;
    margin-top: 5px;
}

.highcharts-map-series {
    color: #146FB7;
    fill: #146FB7;
    stroke: #146FB7;
}

.highcharts-credits:hover {
    font-size: 11px;
}

/*
 * highcharts css end
 */ 

/*
 * zahlenfenster.htm start
 */

html, body {
    height: 98%;
    width: 98%;
}

#content_container {
    max-width: 1250px;
    width: 100%;
    max-height: 420px;
    height: 100%;
}

#content_table {
    width: 100%;
    height: 100%;
}

#embed {
    width: 95%;
    height: 100%;
}

/*
 * zahlenfenster.htm end
 */ 

/* 
 * logik.htm start
 */

.chart {
    margin-bottom: 10px;
}

/*
 * logik.htm end
 */

