#data_table{

   overflow: auto;
   height: 100%;
  /* width: 97%;*/
   margin-right: 1.25rem;
   z-index: 1;
   top: 0px;
   left: 0px;
}


#head{
    display: inline-block;
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow:hidden;
   /* width: 97%*/
}

#tab_sel{
    margin-bottom: 1.667rem;
}

#data{
    display: inline-block;
    position: relative;
    overflow: hidden; 
/*    height: 100%; 
    width: 100%;*/
}
#title h4{
    font-size: .75rem;
    vertical-align: top;  
    font-weight: normal;
}
#title h3{
    font-size: 1.11rem;
    vertical-align: top;
}

#foottext, #footnotes, #source{
    font-size: .75rem;
    max-width: 58.333rem;
    margin-top: 1.667rem;
}

#foottext br, #footnotes br, #source br{
    margin: 0px;
}
#foottext li, #footnotes li, #source li{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#foottext ul, #footnotes ul, #source ul{
   padding: 0px;
   margin: 0px;
}

