/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*{
    font-family: Helvetica,Arial,sans-serif;
    padding: 0px;
    margin: 0px;
}
HTML{
    height: 98%;
    width: 98%;
    font-size:9pt;
} 

BODY{
    /*height: 90%;*/
    width: 100%;
    margin-left:15px;
    margin-top:15px;
}




select{
    /*padding-right: 0.417rem;*/
    min-width: 7.417rem;
    margin-bottom: 0.417rem;
}

input[type='text']{
    width: auto;
}

/*p {
    margin-bottom: 1rem;
    margin-top: 1rem;
}*/	

h1{	
    font-size: 1.4rem;
    margin-bottom: 0.833rem;
    margin-top: 0.417rem;
}

h2{	
    font-size: 1.2rem;
    margin: 0rem 0rem 0rem 0rem;	
}	

h3{
    font-size: 1rem;
    font-weight: bold;
}
a { 
    text-decoration:none 
}
.cell_table .y, .cell_table thead{
    font-size: .75rem;
}
.cell_table .y{
    width: 1rem;
}
.cell_table .brr{
    border-right: 0.083rem solid red;
}

.cell_table .brb{
    border-right: 0.083rem solid black;
}

.cell_table .bbr{
    border-bottom: 0.083rem solid red;
}

.cell_table .bbb{
    border-bottom: 0.083rem solid black;
}
.cell_table .btb{
    border-top: 0.083rem solid black;
}

.cell_table tbody .brb{
    border-right-color: #969696;
}

.cell_table tbody td{
    white-space: nowrap; 
    border-bottom: 0.083rem solid #969696; 
    vertical-align: bottom; 
    padding-right: 0.25rem;
}
input[type="radio"]{
    margin: 0rem 0.167rem 0.25rem 0rem;
    vertical-align: middle;
    /*margin-bottom: 0.25rem;*/
    
}

#size_options{
    vertical-align: bottom;
    position: absolute;
    /*top: 16rem;*/
    top: 16.417rem;
    /*left: 50rem;*/
    left: 20rem;
    float: right;
}

#top img{
    width: 79.167rem;
    height: 16.5rem;
}

#size_options #bigger{
    vertical-align: bottom;
    background: none;
    /*border:2px solid black;*/
    font-weight: bold;
    display: inline-block;
    border: none;
    /*border-radius: 10px;*/
    width:  25px;
    /*height: 25px;*/
    font-size: 13pt;
}

#size_options #big{
    vertical-align: bottom;
    background: none;
    display: inline-block;
    font-weight: bold;
    /*border:2px solid black;*/
    border: none;
    /*border-radius: 10px;*/
    width: 25px;
    /*height: 25px;*/
    font-size: 11pt;
}

#size_options #normal{
    vertical-align: bottom;
    background: none;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 1px;
    /*border:2px solid black;*/
    border: none;
    /*border-radius: 10px;*/
    width: 25px;
    /*height: 25px;*/
    font-size: 9pt;
}

#search_div{
    position: absolute;
    float:left;
    left: 60.917rem;
    top: 16.667rem;
    
}
#tab_sel br{
    line-height: 1.667rem;
}
#tab_sel select{
    margin-top: 0.417rem;
}
/* DIV-Container top_nav */
#top_nav a {
    font-size: 1.2rem;
    color:#ff0033;
}

#top_nav {	
    border-bottom: solid 0.333rem #FF0033;
    padding: 0rem 0rem 0.833rem 1.25rem;
}

#top_table {
    width: 104.167rem;
    /*width: 90%;*/
    white-space: nowrap;
}

#home {
    color: #ff0033;
    padding: 0rem 0rem 0.833rem 1.667rem;
}
#home a {
    font-size:1rem;
    color: #ff0033;
    font-weight:normal;
}

#nav_title {
    padding-top: 0.667rem;
    font-weight: bold;
    font-size:1.417rem;
    color:#ff0033;
}
.cell_table{
    table-layout: fixed;
}
#checkbox_selection_hover:hover #checkbox_selection_div{
    display: block;
    border: 0.167rem solid red;
    position: absolute;
    padding: 0.417rem;
    z-index: 40;
    background-color: #EEE;
    width: 26.667rem;
    white-space: normal;
}

#checkbox_selection_hover #checkbox_selection_div{
    display: none;
}
#checkbox_selection_hover{
    padding-top: 0.417rem;
}
#checkbox_selection_hover p{
    margin-bottom: 0.417rem;
    color: red;
}
.checkbox{
    width: 25rem;
    border: 0.25rem solid black;
    position: absolute;
    background-color: #EEE;
    padding: 0.583rem;
    z-index: 999;
    display: none;
}
.checkbox input{
    margin: 0.167rem;
}
