/* CSS Document */

li{
    margin-left: 1.66rem;
}	

#last_change{
    float: right;
    white-space: no-wrap;
    margin: -1.167rem 0.5885rem 0rem 0rem;
}
#meta_info .fa{
    color: black;
    font-size: 1.2rem;
    margin-right: 0.833rem;
}
#links{
    width: auto;
    position: relative;
    left: 10.417rem;
    margin-top: -1.167rem;
}
#links a{
    color: red;
    font-size: 1rem; 
}

#top{
    white-space: nowrap;
    width: 83.33rem;
    margin-bottom: 1.2rem;
}
#site_footnotes{
    color: #FF0033;
    position: relative;
    left: 29.167rem;
    top: 0.833rem;
    width: 48.25rem;
    margin-bottom: 4.167rem;
}
#site_footnotes a{
    color: #FF0033;
    margin:0.417rem;
}
#search_btn{
    background-color: #FFF;
    cursor:pointer;
    border: none;
    color: rgb(255, 0, 51);
    margin-left: 1rem;
}

#search_txt{
    border: 0.0833rem solid red;
    margin-left: 0.417rem;
    width: 14.167rem;
}

/*################################################################################*/
#content{
    border-collapse: separate;
    border-spacing: 1.833rem 0rem;
    margin-left: -1.833rem;
    top: 19rem;
    position: absolute;
}
#thema table, #unterthema table{
    border-collapse: separate;
    border-spacing: 0.167rem 0.167rem;
}
#thema, #unterthema{
    white-space: nowrap;
    vertical-align: top;
    width: 21.417rem;
    border:0.333rem solid red;
    margin-right: 1.883rem;
    padding: 0.833rem 1.25rem 1.333rem 1.667rem;
    color: red;
}
#thema td{
    height: 1.25rem;
}
.right{
    text-align: right;
    padding-right: 0.5rem;
}
#thema a, #unterthema a{
    color: red;
}

#thema table{
    width: 100%;
}	

.unterthema_td{
    padding-top: 0.583rem;
    padding-bottom: 0.417rem;
}
#unterthema_titel_td{
    padding-top: 0.583rem;
    padding-bottom: 1.25rem;
}

.unterthema_menu_td{
    padding-top: 0.833rem;
    padding-bottom: 0.667rem;
}


#unterthema #unterthema_title{
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
}
.number{
    color:red;
    font-size: 1.4rem;
    font-weight: bold;
    margin-right: 0.417rem;
}


#thema #thema_title{
    border-bottom: 0.083rem solid red;
    color: red;
    font-size: 1.4rem;

}
#kontakt{
    width: 24.833rem;
}
#kontakt p{
    margin: 0rem 5.833rem 0rem;
}

#kontakt p a{
    text-decoration: underline;
    color: #000;
}

#kontakt img{
    /*margin-top: 5rem;*/
    float: bottom;
}

#typo3_links{
    vertical-align: top;
    width: 25.667rem;
    padding: 0rem 0rem 0rem 1.167rem;
}

#content_table table tbody tr:first-child td:first-child{
    vertical-align: top;
    /*display: none;*/
}

#link_list{
    list-style-type: none;
    margin-right: 5.833rem;
}

#link_list li{
    font-size: 1.2rem;
    color: #FFF;
    border-bottom: 0.0833rem solid #FFF;
    margin-bottom: 0.833rem;
}

#link_list a{
    color: #FFF;
    font-size: 1.2rem;
}

#infos{
    white-space: nowrap;
    background-color: #FF0033;
    border:0.333rem solid #FF0033;
    padding-top: 1.167rem;
    vertical-align: top;
}

.export_links{
    color: red;
}

/*################################################################################*/

#main_table{
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
}
#top_nav #unterthema_title{
    color: red;
    font-size: 1.4rem;
    font-weight: bold;
}
#top_nav table{
    border-spacing: 0.167rem 0.167rem;
    border-collapse: separate;
}
#unterthema_table{
    padding-top:0.833rem;
    width: 22.5rem;
}
#unterthema_table td{
    padding-bottom: 1.25rem;
    width: 25.167rem;
}

#mail{
    color: #ff0033;
    margin-left: 0.833rem;
    text-align:right;
    padding: 0rem 1.667rem 0.833rem 0rem;
}

#unterthema_nav{
    margin-left: 0.833rem;
    padding: 1.25rem 2.083rem 1.25rem 1.25rem;
    border: 0.333rem solid red;
    /*height: 100%;*/
    width: 20rem;
    vertical-align: top;
}

/*#editor_values{
    border-top: 0.083rem solid green;
    border-bottom: 0.083rem solid green;
    width: 33.333rem;
    margin-top: 0.833rem;
    padding-bottom: 0.833rem;
    padding-left: 0.833rem;
    text-align: center;
    font-size: 1.25rem;
}*/
#mail a {
    font-size: 1rem;
    color: #ff0033;
    font-weight: normal;
}

#main{
    border: none;
    border-collapse: collapse;
    margin-top: 0.833rem;
}
/* DIV-Container top_nav */

span.titel{
    color:#ff0033;
    font-size:1.083rem;
    font-family:Arial,Helvetica,sans-serif;
}	
.titel a{
    color:#ff0033;
    font-size:1.083rem;
    font-family:Arial,Helvetica,sans-serif;
    text-decoration: none;
}
/*
span.NUMMER{
    color:#ff0033;
    font-size:1.667rem;
    padding-right:0.417rem;
}*/

/* Main-Page */

#thema_nav{
    border: 0.333rem red solid;
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    padding-bottom: 0.833rem;
    padding-right: 2.083rem;
}

#thema_nav td{
    padding-top: 0rem;
    padding-bottom: 0rem;

}

/*#title{
    margin-top: 1.667rem;
}*/
/*
#verwaltung_thema{
    margin-top: 1.667rem;
    margin-left: 0.833rem;
}
#verwaltung_thema a{
    color: red;
    text-align: left;
    font-size: 1rem;
}*//*
#start_nav{
    color: red;
    padding-bottom: 0.167rem;
    text-align: left;
    font-size: 1.1em;
}*/
.num{
    color: red;
    text-align: right;
    padding-right: 0.667rem;
    padding-left: 0.833rem;
}


/* Content-Container */

#auswahl{
    margin: 1.667rem 0rem 0rem 0rem;
}

#data{
    margin: 1.667rem 0rem 0rem 0rem;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
}

#change_date{ 
    position:absolute; 
    top:6.6667rem;
    right: 19.167rem;
}

#year_selection_hover #year_selection_div{
    display:none;
}

#year_selection_hover:hover #year_selection_div{
    padding: 0.583rem;
    width:25rem;
    display:block;
    position:absolute;
    border:0.25rem solid #FF0033;
    background-color: rgb(250, 250, 250);
    box-shadow: -0.25rem -0.25rem 0.25rem 0rem #cccccc
}
#nav_container{
    width:  16.667rem;
    float: left;
    margin-left: 1.75rem;
    margin-right: 0.833rem;
    
}

#content_container{
    margin-top: 1.667rem;

}
#content_table{
    vertical-align: top;
    height: 70%;
}

#tabelle{
    white-space: nowrap;
}

#variante{
    white-space: nowrap;
    margin-top: .5rem;
}

#meta_info{
    white-space: nowrap;
    margin-top: 2.5rem;
}

#meta_info a{
   font-size: .95rem;
   color: #FF0033;   
}

#meta_info p{
    color: #FF0033;
    font-size: 1rem;
    margin-top:0.583rem;
    margin-bottom:0.583rem;
}

#meta_info strong{
    display: block;
    margin-top: 1.25rem;
}

#tabelle td, #variante td, #meta_info a{
    padding-bottom: 0.583rem;
}
#tabelle a, #variante a{
   font-size: .95rem;
   color: #000;
}
#tabelle .selected, #variante .selected{
    color: #F00;
}
#tabelle strong, #variante strong, #meta_info strong{
    font-size: 1.11rem;
}

#link_list #aktuell_links{
    color: #fff;
    font-size: 1rem;
    margin-bottom: 0rem;
    border-bottom: 0rem;
}

#link_list #aktuell_links a {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 0rem;
    border-bottom: 0rem;
}
#footnotes p{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
